<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsM0AM0LuXgCoWL0bn94wNVHxQD-9UM3s</string>
	<key>GCM_SENDER_ID</key>
	<string>886788013556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthApp</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-app-568b7</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-app-568b7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886788013556:ios:2a25cd73f55ea845b90da1</string>
</dict>
</plist>